{{ define "main" }}
<!-- content start ///////////////////// -->
<div class="content-container">
  <!-- sections container -->
  <div class="sections-container" id="top">
    <!-- getstarted start ////////////// -->
    <section id="general" class="current">
      <div>
        <h2 class="content-item section-title text-center"><a href="#spectrumos">#</a><span>SpectrumOS</span></h2>
        <h2 class="section-title text-center mt-5">Enhance your Linux experience with the Dynamic Color Spectrum!</h2>
      </div>
      <div class="grid-of-3">
        <div class="grid-item"></div>
        <div class="grid-item mt-10 m-auto"><img src="../images/spectrumos.gif" class="rounded-full lazy" alt="SpectrumOS Logo"></div>
      </div>
  

    <div class="section-content">
        <p class="mt-4 mb-4 text-justify text-xl">Welcome to SpectrumOS, a cutting-edge Linux distribution based on Arch Linux and powered by Qtile. SpectrumOS aims to revolutionize your desktop environment by seamlessly integrating the Dynamic Color Spectrum. With SpectrumOS, your system and Qtile themes dynamically adapt to the colors of your wallpaper, creating a visually stunning and immersive experience inspired by the vast colors of your wallpapers.</p>

        <h3 class="h3 text-center">A Wallpaper-driven Theming with the Dynamic Color Spectrum</h3>
        <p class="mt-4 mb-4 justify-center text-xl">SpectrumOS takes customization to the next level with the power of the Dynamic Color Spectrum. Just like the rich tapestry of colors in the color spectrum, SpectrumOS dynamically adjusts your system colors and Qtile themes based on your wallpaper, creating a harmonious and visually captivating desktop environment. Say goodbye to static themes and embrace the vibrant and ever-changing world of SpectrumOS.</p>
          
        <h3 class="h3 text-center">Powerful Wallpaper Management</h3>
        <p class="mt-4 mb-4 justify-center text-xl">With SpectrumOS, managing your wallpapers becomes a breeze. Our intuitive wallpaper management tools allow you to easily browse, select, and change wallpapers, ensuring that your desktop always reflects your mood and style. SpectrumOS provides seamless integration with the Dynamic Color Spectrum, giving you the freedom to explore a multitude of colors and hues to create a personalized and captivating desktop experience.</p>
          
        <h3 class="h3 text-center">Seamless Connectivity Management</h3>
        <p class="mt-4 mb-4 justify-center text-xl">At SpectrumOS, we prioritize a seamless computing experience. That's why SpectrumOS includes essential connectivity management tools. Our WiFi manager simplifies the process of connecting to wireless networks, while the Bluetooth manager ensures effortless pairing with your devices. Stay connected and focused on your tasks without the hassle of manual setup, as SpectrumOS takes care of your connectivity needs.</p>
          
        <h3 class="h3 text-center">Getting Started</h3>
        <p class="mt-4 mb-4 justify-center text-xl">To embark on your SpectrumOS journey, please refer to our detailed installation guide and documentation in the wiki section. You will find step-by-step instructions, troubleshooting tips, and configuration options to make the most of SpectrumOS and embrace the dynamic beauty of the Dynamic Color Spectrum.</p>
        
</div>
</div>
</section>
</div>


{{ end }}
