@charset "UTF-8";

/* Helgen Colors */

$dark_blue:#151F35;
$med_blue:#2C3C5B;
$light_blue:#5E738E;
$lighter_blue:#869CB8;

$dark_green:#0AC5A8;
$light_green:#51F3DA;

$dark_gray:#A7ACB0;
$mid_gray:#BDBDC2;
$white:#FFFFFF;

/* light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;

/* dark theme colors */
$dark-background: #292a2d;
$dark-background-secondary: #3b3d42;
$dark-color: #a9a9b3;
$dark-color-secondary: #73747b;
$dark-border-color: #4a4b50;


/* variables for js, must be the same as these in @custom-media queries */

