/* Import pywal colors */
@import "/home/gibranlp/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces {
    background: @color1;
    margin: 0px;
    padding: 3px;
}

#workspaces button {
    padding: 0px 8px;
    color: @color0;
    font-size: 18px;
}

#workspaces button.active {
    background: @color4;
    color: @color0;
}

#workspaces button:hover {
    background: @color0;
    color: @color7;
}

#window {
    background: @color2;
    margin: 0px;
    padding: 3px 10px;
    color: @color0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#pulseaudio.microphone,
#bluetooth,
#disk,
#backlight,
#idle_inhibitor,
#custom-media,
#custom-media-prev,
#custom-media-next,
#custom-weather,
#tray {
    background: @color3;
    padding: 3px 10px;
    margin: 0px;
    color: @color0;
}

#clock {
    color: @color0;
    font-weight: bold;
    background: @color6;
}

#battery {
    color: @color0;
    background: @color4;
}

#battery.charging {
    color: @color0;
    background: @color5;
}

#battery.warning:not(.charging) {
    color: @color0;
    background: @color6;
}

#battery.critical:not(.charging) {
    background: @color1;
    color: @foreground;
}

#cpu {
    color: @color0;
    background: @color5;
}

#memory {
    color: @color0;
    background: @color6;
}

#temperature {
    color: @color0;
    background: @color2;
}

#temperature.critical {
    background: @color1;
    color: @foreground;
}

#network {
    color: @color0;
    background: @color4;
}

#network.disconnected {
    background: @color1;
    color: @foreground;
}

#pulseaudio {
    color: @color0;
    background: @color5;
}

#pulseaudio.muted {
    color: @color0;
    background: @color3;
}

#pulseaudio.microphone {
    color: @color0;
    background: @color6;
}

#bluetooth {
    color: @color0;
    background: @color4;
}

#bluetooth.off {
    color: @color0;
    background: @color3;
}

#disk {
    color: @color0;
    background: @color2;
}

#backlight {
    color: @color0;
    background: @color3;
}

#idle_inhibitor {
    color: @color0;
    background: @color5;
}

#idle_inhibitor.activated {
    background: @color1;
    color: @foreground;
}

#custom-media {
    color: @color0;
    background: @color6;
    min-width: 100px;
}

#custom-media-prev,
#custom-media-next {
    color: @color0;
    background: @color4;
    min-width: 30px;
    padding: 3px 8px;
}

#custom-media-prev:hover,
#custom-media-next:hover {
    color: @color0;
    background: @color5;
}

#custom-weather {
    color: @color0;
    background: @color7;
}

#tray {
    padding: 3px 5px;
}