/* Import pywal colors */
@import "/home/gibranlp/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
    font-weight: 500;
    min-height: 0;
    background: transparent;
}

window#waybar {
    background: transparent;
}

#workspaces {
    background: @color1;
    margin: 2px 3px;
    padding: 3px 15px;
    border-radius: 25px;
}

#workspaces button {
    padding: 0px;
    margin: 0px 3px;
    min-width: 35px;
    color: @color0;
    border-radius: 20px;
    font-size: 18px;
}

#workspaces button.active {
    background: @color4;
    color: @color0;
    padding: 0px 12px;
}

#workspaces button:hover {
    background: @color0;
    color: @color7;
}

#window {
    background: @color2;
    margin: 2px 3px;
    padding: 3px 10px;
    border-radius: 25px;
    color: @color0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#pulseaudio.microphone,
#bluetooth,
#disk,
#backlight,
#idle_inhibitor,
#custom-media,
#custom-media-prev,
#custom-media-play-pause,
#custom-media-next,
#custom-cava,
#custom-gpu,
#custom-pomodoro,
#custom-weather,
#tray {
    background: @background;
    padding: 3px 15px;
    margin: 2px 3px;
    border-radius: 25px;
}

#custom-pomodoro.running {
    background: @color1;
    color: @color7;
}

#custom-pomodoro.break {
    background: @color2;
    color: @color0;
}

#custom-pomodoro.paused, #custom-pomodoro.break_paused {
    background: @color4;
    color: @color0;
}
#tray {
    background: @background;
    padding: 3px 10px;
    margin: 2px 3px;
    border-radius: 25px;
}

#clock {
    background: @color6;
    color: @color0;
    padding: 3px 20px;
}

#custom-gpu {
    background: @color2;
    color: @color0;
}

#custom-cava {
    background: @color1;
    color: @color7;
}

#battery {
    background: @color2;
    color: @color0;
}

#battery.charging {
    background: @color3;
    color: @color0;
}

#battery.warning:not(.charging) {
    background: @color5;
    color: @color0;
}

#battery.critical:not(.charging) {
    background: @color1;
    color: @color0;
    animation: blink-pill 0.5s linear infinite;
}

#cpu {
    background: @color4;
    color: @color0;
}

#memory {
    background: @color5;
    color: @color0;
}

#temperature {
    background: @color3;
    color: @color0;
}

#temperature.critical {
    background: @color1;
    color: @color0;
}

#network {
    background: @color6;
    color: @color0;
}

#network.disconnected {
    background: @color1;
    color: @color0;
}

#pulseaudio {
    background: @color7;
    color: @color0;
}

#pulseaudio.muted {
    background: @foreground;
    color: @background;
}

#pulseaudio.microphone {
    background: @color5;
    color: @color0;
}

#bluetooth {
    background: @color4;
    color: @color0;
}

#bluetooth.off {
    background: @foreground;
    color: @background;
}

#disk {
    background: @color3;
    color: @color0;
}

#backlight {
    background: @color2;
    color: @color0;
}

#idle_inhibitor {
    background: @color6;
    color: @color0;
}

#idle_inhibitor.activated {
    background: @color1;
    color: @color0;
}

#custom-media {
    background: @color5;
    color: @color0;
    min-width: 100px;
}

#custom-media-prev,
#custom-media-play-pause,
#custom-media-next {
    background: @color4;
    color: @color0;
    min-width: 30px;
    padding: 3px 12px;
}

#custom-media-prev:hover,
#custom-media-play-pause:hover,
#custom-media-next:hover {
    background: @color0;
    color: @color7;
}

#custom-weather {
    background: @color7;
    color: @color0;
}

@keyframes blink-pill {
    50% {
        background: @color5;
    }
}
