{{ define "main" }}
<!--div id="introh" style="visibility:hidden;">
    <div class="text-wrapper">
        <img src="images/intro.gif">
    </div>
</div-->
<main aria-role="main"></main>
<!-- background video section -->
<section class="no-padding full-screen-wide cover-background" style="background-image:url('../video/landfill.mp4'); min-height: 500px !important;">
    <div class="video-background  fit-videos">
        <div class="container full-screen position-relative">
            <div class="slider-typography">
                <div class="slider-text-middle-main">
                    <div class="slider-text-top slider-text-middle3">
                        <h1 class="cd-headline letters type xs-margin-bottom-thirtyfive">
                            <span class="rotation-highlight"></span><br>
                            <span class="cd-words-wrapper waiting">
                                <b class="is-visible  "></b>
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-wrapper full-screen-width z-index-0">
        <!-- video -->
        <video autoplay muted loop class="html-video" preload="auto" poster="">
            <source type="video/mp4" src="../video/home_helgen.mp4">
        </video>
        <!-- end video -->
        
    </div>
</section>
<!-- end background video section -->
<!-- content section -->
  <section class="wow fadeIn no-padding">
    <div class="container">
        <div class="row rowfull">
            <!-- content  -->
            <div class="col-md-12 margin-five">
                <h1 class="blue text-center">We'll give your company Superpowers</h1><br>
            </div>
            <div class="separator-line bg-blue margin-two"></div>
            <div class="col-md-6 col-sm-12">
                <img class="shadow-blue" src="../images/AT.png" alt="helgen_Rosie"/>
            </div>
            <div class="col-md-6 col-sm-12 ">
                
                <p class="text-large strong text-justify">DIVE INTO THE FUTURE WITH HELGEN TECH'S DIGITAL TWINS! WE'RE HERE TO GIVE YOUR BUSINESS A BOOST INTO THE WORLD OF CUTTING-EDGE AUTOMATION, AND WE'RE DOING IT LIGHTNING FAST.<br><br>
                DIGITAL TRANSFORMATION? IT'S A WALK IN THE PARK WITH OUR HIGH-SPEED SOLUTIONS. IMAGINE HAVING A DIGITAL BUDDY WHO CAN SIMULATE THE PAST AND FUTURE SCENARIOS FOR YOUR BUSINESS. THIS BUDDY IS WHAT WE CALL A DIGITAL TWIN, HELPING YOU TO MAKE STRATEGIC DECISIONS LIKE A PRO!<br><br>
                SO, COME ALONG FOR THE RIDE! EMBRACE OUR DIGITAL TWINS, AND LET'S SUPERCHARGE YOUR BUSINESS TOGETHER INTO THE AUTOMATED FUTURE. TIME TO MAKE THINGS EASIER, FASTER, AND WAY MORE FUN!</p>
                </div>
            </div>
            <!-- end content  -->
        </div>
    </div>
</section>

<div class="container">
    <div class="row rowfull">
        <!-- content  -->
        <div class="col-md-12 margin-five no-margin-bottom">
            <h1 class="blue text-center">Our Clients</h1><br>
        </div>
        <div class="separator-line bg-blue margin-two"></div>
    </div>
</div>

     <div class="container customer-logos slider">
        <div class="slide"><a href="https://www.elzee.ai/" target=_blank><img class="shadow-blue" src="../images/Clients/ElzeeB.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://futuremobilityireland.ie/" target=_blank><img class="shadow-blue" src="../images/Clients/FutureMB.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://www.youtube.com/c/MyletX" target=_blank><img class="shadow-blue" src="../images/Clients/MyletXB.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://www.hutchisonports.com.mx/" target=_blank><img class="shadow-blue" src="../images/Clients/HutchinsonB.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="http://knockharleylandfill.ie/" target=_blank><img class="shadow-blue" src="../images/Clients/KnockHB.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://www.facebook.com/ipt.trainers/" target=_blank><img class="shadow-blue" src="../images/Clients/IptvB.png" alt="helgen_Rosie"/></a></div>
     </div>

<div class="container">
    <div class="row rowfull">
        <!-- content  -->
        <div class="col-md-12 margin-five no-margin-bottom">
            <h1 class="blue text-center">Our Partners</h1><br>
        </div>
        <div class="separator-line bg-blue margin-two"></div>
    </div>
</div>

     <div class="container customer-logos slider">
        <div class="slide"><a href="https://rdihub.com/" target=_blank><img class="shadow-blue" src="../images/Clients/rdiB.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://proskytec.com/" target=_blank><img class="shadow-blue" src="../images/Clients/pro0.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://www.autonomousknight.com/" target=_blank><img class="shadow-blue" src="../images/sponsors/auto0.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://www.us.es/" target=_blank><img class="shadow-blue" src="../images/Clients/uni0.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://www.enterprise-ireland.com/en/start-a-business-in-ireland/supports-for-high-potential-start-ups/new-frontiers-entrepreneur-development-programme.html" target=_blank><img class="shadow-blue" src="../images/Clients/nvidia0.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://www.plugandplaytechcenter.com/" target=_blank><img class="shadow-blue" src="../images/Clients/plug0.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://www.stanleyblackanddecker.com/" target=_blank><img class="shadow-blue" src="../images/sponsors/stan0.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://www.techstars.com/" target=_blank><img class="shadow-blue" src="../images/sponsors/TechstarsB.png" alt="helgen_Rosie"/></a></div>
        <div class="slide"><a href="https://grupo-scr.mx/" target=_blank><img class="shadow-blue" src="../images/Clients/ScrB.png" alt="helgen_Rosie"/></a></div>
     </div>

<!-- Awards section -->
<section style="padding:0" class="work-3col gutter content-section">
    <div class="container">
        <div class="row">
            <!-- heading -->
            <div class="col-md-12 margin-five no-margin-bottom">
                <h1 class="blue text-center">Awards</h1><br>
            </div>
            <div class="separator-line bg-blue margin-two"></div>
            <div class="row lightbox-gallery center-col">
                <div class="col-md-12 col-sm-12 wow fadeIn" style="text-align: center;">
                    <!-- photo item -->
                    <a href="" title="Lightbox gallery image title..."><img src="../images/award.png" width=250 alt="" class="project-img-gallery" style="text-align: center;"></a>
                    <!-- end photo item -->
                </div>
                
            </div>

        </div>
    </div>
</section>
<!-- end awards -->
</section> 

</div>I




{{ end }}
