/* Import pywal colors */
@import "/home/gibranlp/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code Medium";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces {
    background: @color1;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

#workspaces button {
    padding: 0px 5px;
    color: @color0;
    border-radius: 10px;
    font-size: 20px;
}

#workspaces button.active {
    background: @color4;
    color: @color0;
}

#workspaces button:hover {
    background: @color0;
    color: @color7;
}

#window{
    background: @color2;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: @color0;
}
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
    background: @background;
    padding: 0px 10px;
    margin: 5px 0px;
    border-radius: 10px;
}

#clock {
    color: @color6;
    font-weight: bold;
}

#battery {
    color: @color2;
}

#battery.charging {
    color: @color3;
}

#battery.warning:not(.charging) {
    color: @color5;
}

#battery.critical:not(.charging) {
    color: @color1;
    animation: blink 0.5s linear infinite;
}

#cpu {
    color: @color4;
}

#memory {
    color: @color5;
}

#temperature {
    color: @color3;
}

#temperature.critical {
    color: @color1;
}

#network {
    color: @color6;
}

#network.disconnected {
    color: @color1;
}

#pulseaudio {
    color: @color7;
}

#pulseaudio.muted {
    color: @foreground;
}

#tray {
    padding: 0px 5px;
}

@keyframes blink {
    to {
        background-color: @color1;
        color: @background;
    }
}
