{{define "main"}}
<!-- background video section -->
<section class="no-padding full-screen-wide cover-background" style="background-image:url('../video/landfill.mp4'); min-height: 500px !important;">
    <div class="video-background  fit-videos">
        <div class="container full-screen position-relative">
            <div class="slider-typography">
                <div class="slider-text-middle-main">
                    <div class="slider-text-top slider-text-middle3">
                        <h1 class="cd-headline letters type xs-margin-bottom-thirtyfive">
                            <span class="rotation-highlight">Helgen</span><br>
                            <span class="cd-words-wrapper waiting">
                                <b class="is-visible  ">Your Automated Workforce!.</b>
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-wrapper full-screen-width z-index-0">
        <!-- video -->
        <video autoplay muted loop class="html-video" preload="auto" poster="">
            <source type="video/mp4" src="../video/drone-low.mp4">
        </video>
        <!-- end video -->
        
    </div>
</section>
<!-- End background video section -->
<!-- We are Experts -->
<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-8 col-sm-8 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <img src="../../images/team.png" alt="" style="width:180px"/>
                    <h1>We are experts</h1>
                </div>
            </div>
        </div>
        <div class="row margin-two no-margin-bottom">
            <div class="col-md-8 col-sm-8 xs-margin-bottom-seven center-col">
                <!-- drop daps -->
                <p class="margin-right-ten text-extra-large text-extra-large-normal xs-no-margin-right text-justify">HELGEN's TEAM SUMS UP YEARS OF EXERIENCE IN AUTONOMOUS TECHNOLOGY, ROBOTICS, SOFTWARE ENGINEERING AND INDUSTRIAL PROCESS IMPROVEMENT. OUR TEAM HAS WORKED IN COMPANIES INCLUDING:</p>
                <!-- end drop daps -->
            </div>
        </div>
    </div>
</section>

<section style="padding:0">
    <div class="container">
        <div class="row center-col">
            
            <a href="https://www.jaguarlandrover.com/" target=_blank><div class="col-md-2 col-sm-6 wow fadeInUp jaguar"></div></a>
            
            <a href="https://www.ge.com/" target=_blank><div class="col-md-2 col-sm-6 wow fadeInUp ge"></div></a>
            
            <a href="https://www.newmont.com/home/default.aspx" target=_blank><div class="col-md-2 col-sm-6 wow fadeInUp goldc"></div></a>

            <a href="https://www.teck.com/" target=_blank><div class="col-md-2 col-sm-6 wow fadeInUp teck"></div></a>
            
            <a href="https://www.ford.com/" target=_blank><div class="col-md-2 col-sm-6 wow fadeInUp ford"></div></a>
            
            <a href="https://www.slb.com/" target=_blank><div class="col-md-2 col-sm-6 wow fadeInUp schu"></div></a>
            
        </div>
            <div class="row center-col"></div>
            <div class="col-md-2 col-sm-2 wow fadeInUp"></div>
            <div class="col-md-1 col-sm-2 wow fadeInUp"></div>         
            <a href="https://www.dell.com/en-us/blog/tags/dell-emc/" target=_blank>
                <div class="col-md-2 col-sm-6 wow fadeInUp dell"></div>
            </a>
            
            <a href="https://www.qualcomm.com/" target=_blank>
                <div class="col-md-2 col-sm-6 wow fadeInUp qual"></div>
            </a>
            
            <a href="https://www.grupobimbo.com/" target=_blank>
                <div class="col-md-2 col-sm-6 wow fadeInUp bimbo"></div>
            </a>
        </div>
        <div class="row margin-two center-col">
            
            
        </div>
    </div>
</section>

<section style="padding:0">
    <div class="container">
        <!-- heading -->
        <div class="col-md-8 col-sm-8 dividers-header center-col text-center double-line">
            <div class="subheader bg-white">
                <h1>Testimonials</h1>
            </div>
        </div>
        <div class="row">
            <!-- testimonials item -->
            <div class="col-md-4 col-sm-4 text-large testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <!--img src="http://placehold.it/300x300" alt=""/>
                <p class="center-col width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                <span class="name">Alexander Smith - Google</span>
                <i class="fa fa-quote-left small-icon green-text display-block margin-five no-margin-bottom"></i-->
            </div>
            <!-- end testimonials item -->
            <!-- testimonials item -->
            <div class="col-md-4 col-sm-4 text-extra-large text-extra-large-normal text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../../images/testimonials/provizio.png" alt=""/>
                <p class="center-col width-90">The experience of execution that Helgen are bringing to industrial machine robotics is second to none internationally; and that's exactly what is needed to solve the deep tech problem they have identified."</p>
                <span class="name black-text">- Barry Lunn, CEO, Provizio</span>
                <i class="fa fa-quote-left small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!-- end testimonials item -->
            <!-- testimonials item -->
            <div class="col-md-4 col-sm-4 text-large testimonial-style2 text-center wow zoomInUp no-margin-top">
                <!--img src="http://placehold.it/300x300" alt=""/>
                <p class="center-col width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                <span class="name black-text">Bryan Jonhson - Yahoo</span>
                <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i-->
            </div>
            <!-- end testimonials item -->
        </div>
    </div>
</section>

<!-- End What can we do for you -->
<!-- Operate site  -->
<section class="wow fadeIn animated">
    <div class="container"> 
        <div class="row margin-two">
            <!-- team member -->
            <!--div data-wow-duration="300ms" class="col-md-3 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                <img alt="" src="../../images/headshots/leo.png">
                <figure class="position-relative">
                    <span class="team-name text-uppercase blue-text letter-spacing-2 display-block font-weight-600">Dr. Leo Rodríguez</span>
                    <span class="green-text team-post text-uppercase letter-spacing-2 display-block">CEO</span>
                    <div class="person-social margin-five no-margin-bottom"><a target=_blank href="https://www.linkedin.com/in/leopoldorodriguez/"><i class="fa fa-linkedin blue-text"></i></a><a href="https://twitter.com/le0ptimus_prime"  target=_blank><i class="fa fa-twitter blue-text"></i></a></div>
                </figure>
                <div class="team-details">
                    <p class="blue-text width-100 center-col  margin-one">Leo is an award-winning expert with over ten years of experience in robotics, perception, motion planning and motion control for ground, aerial and marine autonomous systems.</p>
                </div>
            </div>
            <!-- end team member -->
            <!-- team member -->
            <!--div data-wow-duration="600ms" class="col-md-3 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                <img alt="" src="../../images/headshots/john.png">
                <figure class="position-relative">
                    <span class="team-name text-uppercase blue-text letter-spacing-2 display-block font-weight-600">John O'Shea</span>
                    <span class="green-text team-post text-uppercase letter-spacing-2 display-block">CTO</span>
                    <div class="person-social margin-five no-margin-bottom"><a target=_blank  href="https://www.linkedin.com/in/john-oshea/"><i class="fa fa-linkedin blue-text"></i></a><a target=_blank href="https://twitter.com/jfoshea"><i class="fa fa-twitter blue-text"></i></a></div>
                </figure>
                <div class="team-details">
                    <p class="blue-text width-100 center-col  margin-one">John has more than 30 years of experience in embedded systems, software architecture, development and testing, he has been responsible for many successful products, he's been granted five patents.</p>
                </div>
            </div>
            <!-- end team member -->
            <!-- team member -->
            <!--div data-wow-duration="900ms" class="col-md-3 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                <img alt="" src="../../images/headshots/Alex-vidrio.png">
                <figure class="position-relative">
                    <span class="team-name text-uppercase blue-text letter-spacing-2 display-block font-weight-600">Alex Vidrio</span>
                    <span class="green-text team-post text-uppercase letter-spacing-2 display-block">COO</span>
                    <div class="person-social margin-five no-margin-bottom"><a target=_blank href="https://www.linkedin.com/in/alejandro-vidrio-070b03/"><i class="fa fa-linkedin blue-text"></i></a><a target=_blank href="https://twitter.com/AlejandroVidr10"><i class="fa fa-twitter blue-text"></i></a></div>
                </figure>
                <div class="team-details">
                    <p class="blue-text width-100 center-col  margin-one">Alex has more than 30 years of experience in a wide range of consulting issues. He is an expert in lean manufacturing and continous imprvement methodologies.</p>
                </div>
            </div>
            <!-- end team member -->
            <!-- team member -->
            <!--div data-wow-duration="300ms" class="col-md-3 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                <img alt="" src="../../images/headshots/julio.png">
                <figure class="position-relative">
                    <span class="team-name text-uppercase blue-text letter-spacing-2 display-block font-weight-600">Julio Vidrio</span>
                    <span class="green-text team-post text-uppercase letter-spacing-2 display-block">Head of Business Development</span>
                    <div class="person-social margin-five no-margin-bottom"><a target=_blank href="https://www.linkedin.com/in/julio-vidrio-a91a9654/"><i class="fa fa-linkedin blue-text"></i></a><a target=_blank href="https://twitter.com/vidrioJA"><i class="fa fa-twitter blue-text"></i></a></div>
                </figure>
                <div class="team-details">
                    <p class="blue-text width-100 center-col  margin-one">Julio is an enthusiast in business development and finance with experience in public and private sectors with positions in the Mortage National Society in Mexico, Football Canada, and Bank of Mexico.</p>
                </div>
            </div>
            <!-- end team member -->
        </div>
    </div>
</section>
  
<div class="wide-separator-line-white"></div>
{{ end }}