{{define "main"}}
<!-- head section -->
<section class="page-title parallax3 parallax-fix page-title-large">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="../../images/team.jpg" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
                <div class="separator-line bg-green no-margin-top margin-four"></div>
                <!-- page title -->
                <h1 class="white-text">Make a Career with Us!</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->
<!-- content section -->
<section class="wow fadeIn">
    <!-- container -->
    <div class="container">
        <div class="separator-line margin-three"></div>
    <!-- row -->
        <div class="row margin-five rowfull">
            <!-- col -->
            <!--h1>Marketing</h1><br>
                <h2><a href="https://helgen.notion.site/Marketing-Communication-Specialist-08956ce285fb466b9faa9975c96499b4" target=_blank >Marketing & Communications Specialist</a></h2>
                <a href="https://helgen.notion.site/Marketing-Communication-Specialist-08956ce285fb466b9faa9975c96499b4" target=_blank >View & apply</a-->
            <!-- end col -->
        </div>
    <!-- end row -->
     <!-- row -->
     <div class="row rowfull">
        <!-- col -->
        <!--h1>Engineering</h1><br>
            <h2><a href="https://helgen.notion.site/Junior-Simulation-Software-Engineer-625faf7526144d87a167331b3e76f9e8" target=_blank >Junior Simulation Software Engineer</a></h2>
            <a href="https://helgen.notion.site/Junior-Simulation-Software-Engineer-625faf7526144d87a167331b3e76f9e8" target=_blank >View & apply</a-->
        <!--> end col -->
    </div>
<!-- end row -->
        
        <div class="separator-line margin-one"></div> 
        <!-- row -->
     <div class="row rowfull">
        <div class="col-md-8 col-sm-8 dividers-header center-col text-center double-line">
            <div class="subheader bg-white">
                <h1>Coming Soon</h1>
            </div>
        </div>
    </div>
        <div class="separator-line margin-ten"></div>
        <div class="separator-line margin-ten"></div>
        <div class="separator-line margin-ten"></div>
        <div class="separator-line margin-ten"></div>
        <div class="separator-line margin-ten"></div>
        <div class="separator-line margin-ten"></div>

        
    </div>
    <!-- end container -->
</section>


{{ end }}