{{define "main"}}
<!-- head section -->
<section class="page-title parallax3 parallax-fix page-title-large">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="../../images/press.jpg" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
                <div class="separator-line bg-green no-margin-top margin-four"></div>
                <!-- page title -->
                <h1 class="white-text">Helgen in the Press!</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>

<section class="wow">
    <div class="container">
        <div class="row blog-masonry blog-masonry-2col no-transition">
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://eustartup.news/startup-showcase-helgen-technologies-revolutionizing-industrial-robotics-with-autonomous-vehicles/"><img src="../../images/press/showcase.jpg" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://eustartup.news/startup-showcase-helgen-technologies-revolutionizing-industrial-robotics-with-autonomous-vehicles/"></a>EU Startup News<br>03 March 2023</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://eustartup.news/startup-showcase-helgen-technologies-revolutionizing-industrial-robotics-with-autonomous-vehicles/">Helgen Technologies – Revolutionizing Industrial Robotics with Autonomous Vehicles</a></div>
                    <div class="blog-short-description text-justify">Industrial robotics have revolutionized the way industries work, but they come with their own set of challenges, particularly when it comes to sourcing staff required to operate them. Helgen Technologies is a startup that provides software and hardware services for industrial robotics and specializes in autonomous vehicles for waste management, mining, and construction industries.</div>
                    
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://www.businessnews.ie/manufacturing/better-planning-and-preparation-for-companies-with-digital-twin-technology/"><img src="../../images/press/better.jpg" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://www.businessnews.ie/manufacturing/better-planning-and-preparation-for-companies-with-digital-twin-technology/"></a>.businessnews.ie - Mark Nichols<br>22 December 2022</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://www.businessnews.ie/manufacturing/better-planning-and-preparation-for-companies-with-digital-twin-technology/">Better planning and preparation for companies with digital twin technology</a></div>
                    <div class="blog-short-description text-justify">Creating digital twins of real-world operating processes and sites is helping companies sharpen working practices and design new models of practice.</div>
                    
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://www.businesspost.ie/tech/huawei-teams-up-with-dogpatch-labs-for-start-up-accelerator/"><img src="../../images/press/bpost.png" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://www.businesspost.ie/tech/huawei-teams-up-with-dogpatch-labs-for-start-up-accelerator/">Business Post - Charlie Taylor</a><br>22 October 2022</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://www.businesspost.ie/tech/huawei-teams-up-with-dogpatch-labs-for-start-up-accelerator/">Huawei teams up with Dogpatch Labs for start-up accelerator</a></div>
                    <div class="blog-short-description text-justify">Huawei, the Chinese tech giant, has launched a partnership with Dogpatch Labs in Dublin to run a programme aimed at helping Irish start-ups to expand globally.</div>
                    
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://biznes.trojmiasto.pl/20-tys-euro-dla-CareTech-Human-n171534.html"><img src="../../images/press/troj.png" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://biznes.trojmiasto.pl/20-tys-euro-dla-CareTech-Human-n171534.html">trojmiasto.pl - VIK</a><br>10 października 2022</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://biznes.trojmiasto.pl/20-tys-euro-dla-CareTech-Human-n171534.html">20 tys. euro dla CareTech Human</a></div>
                    <div class="blog-short-description text-justify">Ukraiński startup CareTech Human, który wprowadza na rynek urządzenie umożliwiające zdalne monitorowanie parametrów urologicznych, wygrał 20 tys. euro w konkursie organizowanym podczas konferencji Infoshare.</div>
                    
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://infoshare.pl/news/one,66,246,195,startup-contest-semifinalists-for-2022-announced.html"><img src="../../images/press/infoshare.png" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://infoshare.pl/news/one,66,246,195,startup-contest-semifinalists-for-2022-announced.html">Infoshare</a><br>18 August 2022</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://infoshare.pl/news/one,66,246,195,startup-contest-semifinalists-for-2022-announced.html">Startup Contest: Semifinalists for 2022 announced!</a></div>
                    <div class="blog-short-description text-justify">Infoshare’s Startup Contest takes place every year (from 2014) during the Infoshare conference, allowing authors of innovative business ideas and startup companies to appear before the members of Infoshare’s community and investors invited by the organizer.</div>
                    
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://kerryscitech.com/events/workshop-leveraging-the-power-of-ai-for-profit/"><img src="../../images/press/workshop.png" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://kerryscitech.com/events/workshop-leveraging-the-power-of-ai-for-profit/">Kerry SciTech</a><br>28 April 2022</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://kerryscitech.com/events/workshop-leveraging-the-power-of-ai-for-profit/">Workshop: How to leverage AI for Profit</a></div>
                    <div class="blog-short-description text-justify">Global thought leaders will gather in RDI Hub on the 28th of April for a full-day, practical workshop on how companies can leverage the power of AI for profit.</div>
                    
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="http://www.info-transportes.com.mx/index.php/comuni/880-egresado-del-tec-convierte-maquinaria-pesada-en-vehiculos-autonomos"><img src="../../images/press/infotrans.png" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="http://www.info-transportes.com.mx/index.php/comuni/880-egresado-del-tec-convierte-maquinaria-pesada-en-vehiculos-autonomos">Info Transportes</a><br>30 Marzo 2022</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="http://www.info-transportes.com.mx/index.php/comuni/880-egresado-del-tec-convierte-maquinaria-pesada-en-vehiculos-autonomos">Egresado del Tec convierte maquinaria pesada en vehículos autónomos</a></div>
                    <div class="blog-short-description text-justify">Helgen Technologies es una empresa que Leopoldo Rodríguez comenzó hace un año en un garaje en Irlanda junto con su socio John O Shea; hoy, busca obtener más de 2 millones de euros en la próxima ronda de financiación para contratación de personal y obtención de 30 vehículos autónomos el próximo año. </div>
                    
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://www.techstars.com/newsroom/announcing-the-stanley-techstars-2022-class"><img src="../../images/press/techstars.png" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://www.techstars.com/newsroom/announcing-the-stanley-techstars-2022-class">Techstars</a><br>23 February 2022</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://www.techstars.com/newsroom/announcing-the-stanley-techstars-2022-class">Announcing the STANLEY+Techstars 2022 Class</a></div>
                    <div class="blog-short-description text-justify">We are excited to introduce the ten companies joining the 2022 class of the STANLEY + Techstars Accelerator with a focus on Electrification! We’ve selected a diverse group of companies uniquely positioned to make a meaningful impact on the sustainability of Stanley Black & Decker (NYSE: SWK) consumer and industrial products.</div> 
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://www.prnewswire.com/news-releases/stanleytechstars-accelerator-announces-class-of-2022-301482624.html"><img src="../../images/press/stanley.png" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://www.prnewswire.com/news-releases/stanleytechstars-accelerator-announces-class-of-2022-301482624.html">PR Newswire - Black & Decker</a><br>25 February 2022</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://www.prnewswire.com/news-releases/stanleytechstars-accelerator-announces-class-of-2022-301482624.html">STANLEY+Techstars Accelerator Announces Class of 2022</a></div>
                    <div class="blog-short-description text-justify text-justify">TOWSON, Md., Feb. 15, 2022 /PRNewswire/ -- Stanley Black & Decker (NYSE: SWK) has announced the ten companies selected to participate in this year's STANLEY+Techstars Accelerator. The class of 2022 cohort will focus on technologies that enable the electrification of consumer and industrial products through the implementation of battery technology, advanced and recyclable materials, microprocessors, robots, consumer appliances and services.</div> 
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://www.independent.ie/business/technology/its-game-over-people-the-rise-of-the-machines-gathers-pace-41264225.html"><img src="../../images/press/helgen1.jpg" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://www.independent.ie/business/technology/its-game-over-people-the-rise-of-the-machines-gathers-pace-41264225.html">Irish Independent - Gabrielle Monaghan</a><br>23 January 2022</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://www.independent.ie/business/technology/its-game-over-people-the-rise-of-the-machines-gathers-pace-41264225.html">It’s game over, people: the rise of the machines gathers pace</a></div>
                    <div class="blog-short-description text-justify text-justify">When agtech entrepreneur Raymond Heneghan was working on a project in the poultry sector in 2019, the one issue that he noticed time and again was labour shortages: basically, too few people wanted jobs picking up floor eggs and monitoring bird health and welfare.</div> 
                </div>
            </div>
            <!-- end post item -->
            
            
            
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://issuu.com/sparkcrowdfunding/docs/top_100_most_ambitious_companies_in_ireland_2022"><img src="../../images/press/ireland.png" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="https://issuu.com/sparkcrowdfunding/docs/top_100_most_ambitious_companies_in_ireland_2022">Spark Crowdfunding - Chris Burge</a><br>28 December 2021</div>
                    <div class="separator-line bg-blue no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://issuu.com/sparkcrowdfunding/docs/top_100_most_ambitious_companies_in_ireland_2022">The Top 100 Most Ambitious Companies in Ireland 2022</a></div>
                    <div class="blog-short-description text-justify">Spark Crowdfunding are delighted to announce the Top 100 Most Ambitious Companies in Ireland for 2022. This year’s programme attracted almost 200 nominations from throughout every county in Ireland. </div>
                    
                </div>
            </div>
            <!-- end post item -->
            <!-- post item -->
            <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                <div class="blog-image bg-white text-center"><a href="https://www.radiokerry.ie/podcasts/in-business/in-business-december-16th-2021-2-262872"><img src="../../images/press/radiokerry.png" alt=""/></a></div>
                <div class="blog-details">
                    <div class="blog-date blue-text text-large">Posted by <a class="blue-text" href="blog-masonry-2columns.html">Radio Kerry - Mary Gallagher</a><br>17 December 2021</div>
                    <div class="separator-line bg-green no-margin-lr"></div>
                    <div class="blog-single-full-width-with-image-slider-headline"><a href="https://www.radiokerry.ie/podcasts/in-business/in-business-december-16th-2021-2-262872">In Business</a></div>
                    <div class="blog-short-description text-justify">We'll introduce you to a company which aims to convert heavy machinery in landfill and ports into robots - Leo Rodriguez of Helgen Technologies, which is based in the RDI Hub, Killorglin</div>
                    
                </div>
            </div>
            <!-- end post item -->
        </div>
    </div>
</section>



{{ end }}