{{define "main"}}
<!-- background video section -->
<section class="no-padding full-screen-wide cover-background" style="min-height: 500px !important;">
    <div class="video-background  fit-videos">
        <div class="container full-screen position-relative">
            <div class="slider-typography">
                <div class="slider-text-middle-main">
                    <div class="slider-text-top slider-text-middle3">
                        <h1 class="cd-headline letters type xs-margin-bottom-thirtyfive">
                            <span class="rotation-highlight">Helgen</span><br>
                            <span class="cd-words-wrapper waiting">
                                <b class="is-visible  ">Products & Services</b>
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-wrapper full-screen-width z-index-0">
        <!-- video -->
        <video autoplay muted loop class="html-video" preload="auto" poster="">
            <source type="video/mp4" src="../video/logistics.mp4">
        </video>
        <!-- end video -->
        
    </div>
</section>
<!-- End background video section -->
<!-- We are Experts -->
<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-8 col-sm-8 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Products & Services<br>(Coming Soon!)</h1>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</section>


        </div>
    </div>
</section>
  
<div class="wide-separator-line-white"></div>
{{ end }}