{{define "main"}}
<!-- background video section -->
<section class="no-padding full-screen-wide cover-background" style="min-height: 500px !important;">
    <div class="video-background  fit-videos">
        <div class="container full-screen position-relative">
            <div class="slider-typography">
                <div class="slider-text-middle-main">
                    <div class="slider-text-top slider-text-middle3">
                        <h1 class="cd-headline letters type xs-margin-bottom-thirtyfive">
                            <span class="rotation-highlight">Helgen</span><br>
                            <span class="cd-words-wrapper waiting">
                                <b class="is-visible  ">Specialized Services</b>
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-wrapper full-screen-width z-index-0">
        <!-- video -->
        <video autoplay muted loop class="html-video" preload="auto" poster="">
            <source type="video/mp4" src="../video/logistics.mp4">
        </video>
        <!-- end video -->
        
    </div>
</section>
<!-- End background video section -->
<!-- We are Experts -->
<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Specialized Services</h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large strong text-justify margin-five">Specialized Services
                    At Helgen Technologies, we strive to offer comprehensive solutions that go beyond providing state-of-the-art operational technologies. We are here to support your success throughout the entire lifecycle of your systems. Our specialized services, including commissioning, preventive and corrective maintenance, ensure that your logistics operations run smoothly and continuously.</p>
                    
                <!-- content  Image Left-->
                <div id="commissioning" class="col-md-6 col-sm-12">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h1 class="blue text-center">Commissioning and Maintenance Services</h1><br>
                    <p class="text-large strong text-justify">Setting up your new technologies should be hassle-free and your systems should operate seamlessly, making your operations efficient and effective. Our specialized services include commissioning your operational technologies and their ongoing maintenance.
                        <br><br>
                        From initializing your systems to ensuring they function at peak performance, Helgen's experienced technicians are dedicated to providing unmatched support for a wide range of modern logistics technologies. This includes geolocation, radar, lidars, RFID, facilities access technology, and hardware.</p>
                </div>
                <!-- end content  -->      
            </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">
                                  
                <!-- content  Image Right-->
                <div class="col-md-6 col-sm-12 margin-seven">
                    <h1  class="blue text-center">Geolocation of Assets</h1><br>
                    <p class="text-large strong text-justify">Track and manage your assets with our advanced geolocation technologies, and let us handle the specialized commissioning and maintenance tasks. We ensure that your systems function flawlessly, offering you real-time asset tracking and management.</p>
                </div>
                <div id="geolocation" class="col-md-6 col-sm-12">
                </div>
                <!-- end content  -->      
            </div> 
            <div class="col-12 col-sm-12 xs-margin-bottom-two margin-two">
                <!-- content  Image Left -->
                <div id="radar" class="col-md-6 col-sm-12">
                    
                </div>
                <div class="col-md-6 col-sm-12 margin-seven">
                    <h1 class="blue text-center">Radar Technologies</h1><br>
                    <p class="text-large strong text-justify">Our radar technologies offer essential data to drive your logistics operations. From the commissioning phase to regular maintenance, we keep your radar systems calibrated for optimal accuracy and reliability.</p>
                </div>
                <!-- end content  -->      
            </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">
                                  
                <!-- content  Image Right-->
                <div class="col-md-6 col-sm-12 margin-seven">
                    <h1 class="blue text-center">Lidar Systems</h1><br>
                    <p class="text-large strong text-justify">We provide Lidar systems that deliver high-resolution, three-dimensional information about the physical environment. Count on Helgen for specialized commissioning and preventive and corrective maintenance of these complex systems, ensuring accurate data delivery at all times.</p>
                </div>
                <div id="lidar" class="col-md-6 col-sm-12">
                    
                </div>
                <!-- end content  -->      
            </div> 
            <div class="col-12 col-sm-12 xs-margin-bottom-two margin-two">
                <!-- content  Image Left -->
                <div id="rfid" class="col-md-6 col-sm-12">
                    
                </div>
                <div class="col-md-6 col-sm-12 margin-seven">
                    <h1 class="blue text-center">RFID</h1><br>
                    <p class="text-large strong text-justify">RFID technology is fundamental in logistics for instant, automatic asset identification and tracking. From commissioning the smallest tags to maintaining the most extensive readers, our team ensures your RFID systems provide accurate and reliable data consistently.</p>
                </div>
                <!-- end content  -->      
            </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">
                                  
                <!-- content  Image Right-->
                <div class="col-md-6 col-sm-12 margin-ten">
                    <h1 class="blue text-center">Facilities Access Technology</h1><br>
                    <p class="text-large strong text-justify">Secure your facilities with our cutting-edge access technologies. Our team provides comprehensive commissioning services and ongoing maintenance, ensuring robust security and seamless accessibility.</p>
                </div>
                <div id="facilities" class="col-md-6 col-sm-12">
                    
                </div>
                <!-- end content  -->      
            </div> 
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- content  Image Left -->
                <div id="hardware" class="col-md-6 col-sm-12">
                </div>
                <div class="col-md-6 col-sm-12 margin-ten">
                    <h1 class="blue text-center">Hardware Maintenance</h1><br>
                    <p class="text-large strong text-justify">Your hardware is the backbone of your operations. We offer both preventive and corrective maintenance services to keep your hardware in optimal condition, minimizing downtime and maximizing operational efficiency.</p>
                </div>
                <!-- end content  -->      
            </div>    
            <!-- drop daps -->
            <p class="text-large strong text-justify">At Helgen Technologies, we view our relationships with customers as partnerships, providing you with more than just hardware and software. Our team is here to offer ongoing support and specialized services that will help optimize your logistics operations. Reach out to us today to learn how our services can improve your business performance.</p>
            </div>
        </div>
</section>


        </div>
    </div>
</section>
  
<div class="wide-separator-line-white"></div>
{{ end }}