{{define "main"}}
<!-- head section -->
<section class="page-title parallax3 parallax-fix page-title-large">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="../../images/team.jpg" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
                <div class="separator-line bg-green no-margin-top margin-four"></div>
                <!-- page title -->
                <h1 class="white-text">Make a Career with Us!</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>

<!-- Operate site  -->
<section class="wow fadeIn" style="padding:0">
    <div class="container">
        <div class="row no-margin-top">
            <!-- heading -->
            <div class="col-md-8 col-sm-8 dividers-header center-col text-center double-line">
                <div class="subheader bg-white margin-two">
                    <br><h1 class="blue">We help you operate your site</h1><br>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- features grid -->
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding">
                    <div class="col-md-3 col-sm-3 col-xs-2 no-padding text-center"><i class="fa fa-line-chart medium-icon blue-text"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5 class="title-small blue-text">Productivity</h5>
                        <p class="blue-text text-large">UNLIKE HIRING A CREW OF MANPOWER TO OPERATE A LANDFILL, ROSIE REDUCES YOUR STAFFING NEEDS TO ONLY 1 PERSON THAT CAN SUPERVISE FROM A REMOTE LOCATION UP TO 5 COMPACTORS AT THE SAME TIME</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding">
                    <div class="col-md-3 col-sm-3 col-xs-2 no-padding text-center"><i class="fa fa-exclamation-triangle medium-icon blue-text"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5 class="title-small blue-text">Safety</h5>
                         
                        <p class="blue-text text-large">REDUCE REACTION TIME IN HOW ROSIE PERCEIVES ITS SURROUNDING ENVIRONMENT, WHICH ALLOWS QUICKER REACTION TO SAFETY HAZARDS.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3 col-xs-2 no-padding text-center"><i class="fa fa-info medium-icon blue-text"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5 class="title-small blue-text">KPI's</h5>
                         
                        <p class="blue-text text-large">UNLIKE CURRENT GPS SYSTEMS,  ROSIE PROVIDES RELEVANT OPERATIONAL INFORMATION, INCLUDING ACCURATE COMPACTION RATES, AND DISPLAYS ONLY THE DATA YOU NEED (PASSES, FUEL, DEPTHS).</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
        </div>
        <div class="row">
            <!-- features grid -->
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding">
                    <div class="col-md-3 col-sm-3 col-xs-2 no-padding text-center"><i class="icon-speedometer medium-icon blue-text"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5 class="title-small blue-text">Operational Efficiency</h5>
                         
                        <p class="blue-text text-large">SAME COMPACTION WITH FEWER PASSES. THE RIGHT NUMBER OF PASSES TO ENSURE OPTIMAL COMPACTION RATES</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding text-center">
                    <div class="col-md-3 col-sm-3 col-xs-2 no-padding"><i class="icon-shield medium-icon blue-text"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5 class="title-small blue-text">Reliability</h5>
                         
                        <p class="blue-text text-large">UNLIKE HUMAN OPERATORS THAT NEED SAFETY CONDITIONS, ROSIE CAN WORK IN ANY WEATHER OR HAZARDOUS CONDITION AND DOES NOT STRESS THE MACHINE BEYOND ITS OPERATING LIMITS</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding">
                    <div class="col-md-3 col-sm-3 col-xs-2 no-padding text-center"><i class="icon-tools-2 medium-icon blue-text"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5 class="title-small blue-text">Cost Eficciency</h5>
                         
                        <p class="blue-text text-large">Our solution is compatible with multiple machines and other IoT systems, reducing operational complexity.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
        </div>
        </div>
        <div class="col-md-12 col-sm-12 center-col text-center margin-two">
            <a href="https://start.helgen.tech/" target=_blank class="highlight-button-green btn btn-medium button">Work with us</a>
        </div><br>
    </div>
</section>
  
<div class="wide-separator-line-white"></div>
{{ end }}